
.navbar{
    background-color: rgb(17, 17, 209);
    padding: 20px 0px;
}
.navbar{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    padding: 15px 30px;
    
    
}

.list{
     list-style:none;
     display: flex;
   
     
}
.list li{
    list-style: none;

}
.list li a {
       color: white;
       text-decoration: none;
       margin-left: 20px;
}




